@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,900");

body {
  background-image: url('/images/bg.png');
  opacity: 0.9;
  color: #ECF0F1;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 50px;
  overflow-x: hidden;
  color: #34495e;
  font: 14px/1.231 "Lato", sans-serif;
}

@font-face {
  font-family: 'Fertigo';
  src: url('/font/fertigo_pro_regular-webfont.eot');
  src: url('/font/fertigo_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/fertigo_pro_regular-webfont.woff') format('woff'),
       url('/font/fertigo_pro_regular-webfont.ttf') format('truetype'),
       url('/font/fertigo_pro_regular-webfont.svg#fertigo_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container:nth-child(1) {
  padding-top: 2em;
}

#logo {
  margin: auto;
  width: 10em;
  height: 10em;
  border-radius: 7em;
  background-color: #34495E;
}

.visible-desktop {
  text-align: right;
}

.visible-desktop a {
  color: #CCC;
  text-decoration: none;
}

#logo h1 {
  font-family: 'Fertigo';
  font-style: italic;
  font-size: 3em;
  padding: 0.7em;
  color: #ECF0F1;
}

.slogan h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 5em;
  letter-spacing: .01em;
}

#logo-spot {
  width: 1.7em;
  height: 1.7em;
  margin-left: 6em;
  margin-top: 6em;
  border-radius: 5em;
  position: absolute;
  background-color: #1ABC9C;
}

.container {
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

a {
  color: #1ABC9C;
  text-decoration: underline;
}

i {
  text-decoration: none;
  font-size: 5em;
}

a.icon {
  text-decoration: none;
}

a.icon:hover {
  opacity: 0.7;
}

a:hover {
  text-decoration: none;
  color: #1ABC9C;
}

#logo abbr {
  border-bottom: 0px;
}

.pure-u-2-5 {
  margin-bottom: 2em;
}
